<!DOCTYPE html>
 <html lang="es">

<head>

    <!-- Meta Tags
================================================== -->
    <meta charset="utf-8">

    <!-- Site Title
================================================== -->
    <title>Dalton Automotriz HP</title>

    <!-- Mobile Specific Metas
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
================================================== -->
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Favicon
================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Google Analytics
================================================== -->
    <script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
    </script>
</head>

<body>
<!-- ================================================== HEADER ================================================== -->
<header> 
      
      <!-- top bar -->
      <div class="top-bar">
    <div class="container">
          <div class="row"> 
        
        <!-- notification -->
        <div class="notification">
              <p>Contactanos, estamos a tus ordenes, o siguenos en nuestras redes sociales.</p>
            </div>
        <!-- .notification --> 
        
        <!-- call us -->
        <div class="call-us">
              <p> <span class="icon-phone"></span>440 0410 / 485 99 69</p>
            </div>
        <!-- .call us --> 
        
        <!-- social -->
        <div class="social">
              <ul class="clearfix">
            <li> <a href="https://www.facebook.com/dalton.motors?ref=ts&fref=ts" class="tip-below success" data-tip="facebook" target="_blank"> <span class="icon-facebook"></span> </a> </li>
            <li> <a href="https://twitter.com/daltonlights" class="tip-below success" data-tip="twitter" target="_blank"> <span class="icon-twitter"></span> </a> </li>
          </ul>
            </div>
        <!-- social -->
        
      </div>
        </div>
  </div>
      <!-- .top bar --> 
      
      <!-- navigation and logo -->
      <div class="navigation clearfix">
    <div class="container">
          <div class="row"> 
        
        <!-- logo -->
        <div class="logo"> <a href="index.html"> <img src="images/logo.png" title="Dalton Automotriz HP" alt="Dalton Automotriz HP" /> </a> </div>
        <!-- .logo --> 
        
        <!-- navigation -->
        <nav> 
              
              <!-- navigation wrap -->
              <div class="main-nav">  
            
            <!-- main navigation -->
            <ul class="main-navigation">
                  
                  <!-- home -->
                  <li><a href="index.html">Home</a></li>
                  <!-- .home --> 
                  
                  <!-- pages -->
                  <li><a href="#">Taller</a>
                    <ul class="sub-menu">
                          <li><a href="herramientas.html">Herramientas</a> </li>
                          <li><a href="areas.html">Areas</a> </li>
                    </ul>
                   </li>
                  <!-- .pages -->
                  
                  <!-- blog -->
                  <li><a href="ofertas.html">Ofertas</a></li>
                  <!-- .blog --> 
                  
                  <!-- cars -->
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <!-- .cars --> 
                  
                  <li><a href="portafolio.html">Portafolio</a></li>
              
                  <!-- elements -->
                  <li><a href="contacto.html" class="active">Contacto</a></li>
                  <!-- .elements --> 
                  
                </ul>
            <!-- .main navigation --> 
            
          </div>
              <!-- .navigation wrap --> 
              
            </nav>
        <!-- .navigation --> 
        
      </div>
        </div>
  </div>
      <!-- .navigation and logo --> 
      
    </header>
<!-- ================================================== END HEADER ================================================== --> 

    <!-- ================================================== BREADCRUMBS ================================================== -->
    <section>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs-content clearfix">
                        <div class="page-title">
                            <h4>Contacto</h4>
                            <a href="index.html">
                                <span class="icon-home"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================================================== END BREADCRUMBS ============================================== -->

    <!-- ================================================== TESTIMONIALS ================================================== -->
    <section>
        <div class="map" data-appear-animation="bounceIn">

        </div>



    </section>

    <!-- ================================================== END TESTIMONIALS ================================================== -->

    <!-- ================================================== BY OR RESERVE =========================================== -->
    <section>

        <div class="dark-promo space-bottom">
            <div class="container">
                <div class="row">

                    <div class="promo">

                        <div class="dark-form">
                            <h3><b>Contactanos</b>
                            </h3>
                            <h4>Si tienes alguna duda, o necesitas información que no has encontrado aquí, háznoslo saber con el siguiente formulario.</h4>
							<div class="send_result"></div>
                            <form class="contactform" method="post" action="contact_process.php">
                                <fieldset>
                                    <div class="three columns alpha">

                                        <div class="input">
                                            <input type="text" placeholder="Nombre" name="name"/>
                                        </div>

                                        <div class="input">
                                            <input type="text" placeholder="Email" name="email" />
                                        </div>
                                        <div class="input">
                                            <input type="text" placeholder="Numero de telefono" name="phonenumber"/>
                                        </div>
                                    </div>
                                    <div class="six columns">
                                        <div class="textarea">
                                            <textarea placeholder="Mensaje" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="three columns">
                                        <div class="input-submit">
                                            <input type="submit" value="ENVIAR" class="submitform" />
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- ================================================== dark OR RESERVE ============================================= -->

    <!-- ================================================== LATEST CARS ================================================== -->

    <section class="space-top-and-bottom medium">
        <div class="container">
            <div class="row">

                <!-- .1 -->
                <div class="row">

                    <!-- car -->
              <div class="four columns">
            <div class="car-box vertical medium" data-appear-animation="slideInLeft"> 
                  
                  <!-- image -->
                  <div class="car-image">
                      <img src="images/car-1.jpg" title="car" alt="car" />
                  </div>
                  <!-- .image --> 
                  
                  <!-- content -->
                  <div class="car-content"> 
                
                <!-- title -->
                <div class="car-title">
                      <h3><a href="#">Autos grandes</a> </h3>
                    </div>
                <!-- .title --> 
                
                <!-- descript -->
                            <div class="car-descript">
                                <p>
                                    <p>Pulido y encerado para tu auto (ej. Suburban, Pickup, Chellene, Ram)</p>
                                </p>
                            </div>
                            <!-- descript -->

                            <!-- tags -->
                            <div class="car-tags">
                                <ul class="clearfix">
                                    <li>Productos 3M</li>
                                    <li>Antes $1,200</li>
                                </ul>
                            </div>
                            <!-- .tags -->
                
                <!-- price -->
                <div class="car-price"> <a href="#" class="clearfix"> <span class="price">$800</span> <span class="icon-arrow-right2"></span> </a> </div>
                <!-- .price --> 
                
              </div>
                  <!-- .content --> 
                  
                </div>
          </div>
              <!-- .car --> 
              
              <!-- car -->
              <div class="four columns">
            <div class="car-box vertical medium" data-appear-animation="flipInX"> 
                  
                  <!-- image -->
                  <div class="car-image"><img src="images/car-2.jpg" title="car" alt="car" /></div>
                  <!-- .image --> 
                  
                  <!-- content -->
                  <div class="car-content"> 
                
                <!-- title -->
                <div class="car-title">
                      <h3><a href="#">Autos medianos</a> </h3>
                    </div>
                <!-- .title --> 
                
                            <!-- descript -->
                            <div class="car-descript">
                                <p>
                                    <p>Lúcete en tu auto perfectamente pulido y encerado (ej. Jetta, Corolla)</p>
                                </p>
                            </div>
                            <!-- descript -->

                            <!-- tags -->
                            <div class="car-tags">
                                <ul class="clearfix">
                                    <li>Productos 3M</li>
                                    <li>Antes $1,000</li>
                                </ul>
                            </div>
                            <!-- .tags -->

                            <!-- price -->
                            <div class="car-price">
                                <a href="#" class="clearfix">
                                    <span class="price">$700</span>
                                    <span class="icon-arrow-right2"></span>
                                </a>
                            </div>
                            <!-- .price -->
                
              </div>
                  <!-- .content --> 
                  
                </div>
          </div>
              <!-- .car --> 
              
              <!-- car -->
              <div class="four columns">
            <div class="car-box vertical medium" data-appear-animation="slideInRight"> 
                  
                  <!-- image -->
                  <div class="car-image"><img src="images/car-3.jpg" title="car" alt="car" /></div>
                  <!-- .image --> 
                  
                  <!-- content -->
                  <div class="car-content"> 
                
                    <!-- title -->
                    <div class="car-title">
                        <h3><a href="#">Facias</a>
                        </h3>
                    </div>
                    <!-- .title -->

                    <!-- descript -->
                    <div class="car-descript">
                        <p>
                            <p>Reemplaza las facias traseras y delanteras para todo tipo de vehículos</p>
                        </p>
                    </div>
                    <!-- descript -->

                    <!-- tags -->
                    <div class="car-tags">
                        <ul class="clearfix">
                        <li>Solo facias estándar</li>
                            <li>Precio unitario</li>
                            <li>Antes $1,300</li>
                        </ul>
                    </div>
                    <!-- .tags -->

                    <!-- price -->
                    <div class="car-price">
                        <a href="#" class="clearfix">
                            <span class="price">$800</span>
                            <span class="icon-arrow-right2"></span>
                        </a>
                    </div>
                    <!-- .price -->
                
              </div>
                  <!-- .content --> 
                  
                </div>
          </div>
              <!-- .car -->

                </div>
                <!-- .1 -->

            </div>
        </div>
    </section>

    <!-- ================================================== LATEST CARS ============================================== -->

    <!-- ================================================== TOP FOOTER ================================================== -->
    <section>
          <div class="dark-promo">
        <div class="container">
              <div class="row">
            <div class="promo dark">

     

                  <h1 data-appear-animation="flipInX">Tels. 440 0410 / 485 99 69</h1>
                  <h4 data-appear-animation="flipInX">Cerrada de Tepic No 15 Col. Progreso<br />
                <b>Lun - Vie:</b> 9am - 7pm, <b>Sab:</b> 9am - 2pm</h4>
                  <div class="button-wrap"> <a href="contacto.html" class="button dark medium" data-appear-animation="flipInX">CONTACTANOS</a> </div>
                </div>
          </div>
            </div>
      </div>
        </section>

    <!-- ================================================== TOP FOOTER ================================================== --> 

    <!-- ================================================== FOOTER WITH WIDGETS ================================================== -->
    <section class="space-top-and-bottom small">
        <div class="footer">
            <div class="container">
                <div class="row">

        <!-- text widget -->
        <div class="three columns alpha">
              <div class="widget" data-appear-animation="slideInLeft">
            <h4><b>Acerca de </b>Dalton Automotriz</h4>
            <p class="justify">Dalton automotriz inicio operaciones en 1997, empezando como un pequeño taller que perseguía el objetivo
            de ser una empresa reconocida en su ámbito de hojalatería y pintura. <br />
            <br />
            Comenzando únicamente con dos empleados, un hojalatero y un pintor. Gracias a nuestros trabajos de buena calidad, la empresa ha crecido, creando renombre y prestigio.</p>
            <br/>
            <a href="nosotros.html"> Leer más &raquo;</a>
          </div>
            </div>
        <!-- .text widget --> 
        
        <!-- pick car widget -->
        <div class="four columns">
          <div class="widget" data-appear-animation="bounceIn">
            <h4><b>Conoce las</b> herramientas e instalaciones</h4>
            <img src="images/nos1.jpg" alt="Imagen del taller">
            <br/>
            <a href="herramientas.html"> Ver más &raquo;</a>
          </div>
        </div>
        <!-- .pick car widget --> 

        <!-- list widget -->
        <div class="five columns" data-appear-animation="bounceIn">
            <div class="widget">
                <h4><b>Ultimas </b>ofertas</h4>
                <ul class="widget-list">
                    <li><a href="ofertas.html">Pulido y encerado autos grandes</a> 
                    </li>
                    <li><a href="ofertas.html">Pulido y encerado autos medianos</a> 
                    </li>
                    <li><a href="ofertas.html">Rines</a> 
                    </li>
                    <li><a href="ofertas.html">Facias</a> 
                    </li>
                </ul>
            </div>
        </div>
        <!-- .list widget -->
        

                </div>
            </div>
        </div>
    </section>

    <!-- ================================================== FOOTER WITH WIDGETS ================================================== -->

    <!-- ================================================== BOTTOM FOOTER ================================================== -->
    <footer>
        <div class="bottom-footer clearfix;">
            <div class="container">
                <div class="row">
                    <div class="five columns">
                        <div class="copyrights">
                            <p>&copy; 2014 - Dalton Automotriz - All rights reserved.</p>
                        </div>
                    </div>
                        <div class="seven columns">
                <div class="footer-navigation">
                    <ul class="clearfix">
                          <li><a href="index.html">Home</a> </li>
                          <li><a href="herramientas.html">Taller</a> </li>
                          <li><a href="ofertas.html">Ofertas</a> </li>
                          <li><a href="nosotros.html">Nosotros</a> </li>
                          <li><a href="portafolio.html">Portafolio</a> </li>
                          <li><a class="active" href="contacto.html">Contacto</a> </li>
                          <li><a href="#">Terminos y condiciones</a> </li>
                          <li><a href="#">Politica de privacidad</a> </li>
                        </ul>
                  </div>
              </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================================================== BOTTOM FOOTER ================================================== -->

    <!-- ================================================== TO TOP ================================================== -->
    <div class="to-top">
        <a href="#">
            <span class="icon-arrow-up"></span>
        </a>
    </div>
    <!-- ================================================== TO TOP ================================================== -->

    <!-- Javascript
================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery.dscountdown.min.js"></script>
    <script type="text/javascript" src="js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/easyResponsiveTabs.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.knob.js"></script>
    <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.mapmarker.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <!-- End Document
================================================== -->
</body>

</html>
