{% load thumbnail %}
{% load staticfiles %}

<!DOCTYPE html>
 <html lang="es">
    <head>

    <!-- Meta Tags
================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="Dalton Automotriz HP - Su satisfacción es nuestro éxito - El mejor taller de hojalateria y pintura de acapulco Tels. 440 0410 / 485 99 69 Cerrada de Tepic No 15 Col. Progreso" />
    
    <meta name="author" content="Juan Alberto Jimenez Angel" />

    <!-- Site Title
================================================== -->
    <title>Dalton Automotriz HP</title>

    <!-- Mobile Specific Metas
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
================================================== -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Favicon
================================================== -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <!-- Google Analytics
================================================== -->
    </head>

    <body>

<!-- ================================================== HEADER ================================================== -->
<header> 
      
      <!-- top bar -->
      <div class="top-bar">
    <div class="container">
          <div class="row"> 
        
        <!-- notification -->
        <div class="notification">
              <p>Contactanos, estamos a tus ordenes, o siguenos en nuestras redes sociales.</p>
            </div>
        <!-- .notification --> 
        
        <!-- call us -->
        <div class="call-us">
              <p> <span class="icon-phone"></span>440 0410 / 485 99 69</p>
            </div>
        <!-- .call us --> 
        
        <!-- social -->
        <div class="social">
              <ul class="clearfix">
            <li> <a href="https://www.facebook.com/dalton.motors?ref=ts&fref=ts" class="tip-below success" data-tip="facebook" target="_blank"> <span class="icon-facebook"></span> </a> </li>
            <li> <a href="https://twitter.com/daltonlights" class="tip-below success" data-tip="twitter" target="_blank"> <span class="icon-twitter"></span> </a> </li>
          </ul>
            </div>
        <!-- social --> 
        
      </div>
        </div>
  </div>
      <!-- .top bar --> 
      
      <!-- navigation and logo -->
      <div class="navigation clearfix">
    <div class="container">
          <div class="row"> 
        
        <!-- logo -->
        <div class="logo"> <a href="/"> <img src="{% static "images/logo.png" %}" title="Dalton Automotriz HP" alt="Dalton Automotriz HP" /> </a> </div>
        <!-- .logo --> 
        
        <!-- navigation -->
        <nav> 
              
              <!-- navigation wrap -->
              <div class="main-nav"> 
            
            <!-- main navigation -->
            <ul class="main-navigation">
                  
                  <!-- home -->
                  <li><a href="/" class="active">Home</a></li>
                  <!-- .home --> 
                  
                  <!-- pages -->
                  <li><a href="#">Taller</a>
                    <ul class="sub-menu">
                          <li><a href="/herramientas">Herramientas</a> </li>
                          <li><a href="/areas">Areas</a></li>
                    </ul>
                  </li>
                  <!-- .pages --> 
                  
                  <!-- blog -->
                  <li><a href="/ofertas">Ofertas</a></li>
                  <!-- .blog --> 
                  
                  <!-- cars -->
                  <li><a href="/nosotros">Nosotros</a></li>
                  <!-- .cars --> 
                  
                  <!-- elements -->
                  <li><a href="/portafolio">Portafolio</a></li>
                  <!-- .elements --> 
                  
                  <!-- contact -->
                  <li><a href="/contacto">Contacto</a></li>
                  <!-- .contact -->
                  
                </ul>
            <!-- .main navigation --> 
            
          </div>
              <!-- .navigation wrap --> 
              
            </nav>
        <!-- .navigation --> 
        
      </div>
        </div>
  </div>
      <!-- .navigation and logo --> 
      
    </header>
<!-- ================================================== END HEADER ================================================== --> 

<!-- ================================================== SLIDER ================================================== -->
<section>
  <div class="bannercontainer">
    <div class="banner">
      <ul>
        <li data-transition="fade" data-slotamount="1"> <img src="{% static "images/slide4.jpg" %}" alt="" title="" /> 
          <!-- caption -->
          <div class="slide-caption caption lft" data-y="300" data-speed="700" data-start="400" data-easing="easeOutBack"></div>
          <!-- .caption --> 
              
          <!-- title -->
          <div class="caption-title caption" data-y="320" data-speed="700" data-start="1200" data-easing="easeOutBack">
            <h2><b>TRABAJANDO</b> COLABORATIVAMENTE CON</h2>
          </div>
          <!-- title -->   
        </li>
        {%for slider in sliders %}
          <!-- SLIDER -->
          <li data-transition="fade" data-slotamount="1">
            
            {% thumbnail slider.imagen "1400x703" crop="center" as im %}
                <img src="{{ im.url }}" alt="" title="" />
            {% endthumbnail %}
                
            <!-- caption -->
            <div class="slide-caption caption lft" data-y="300" data-speed="700" data-start="400" data-easing="easeOutBack"></div>
            <!-- .caption --> 
                
            <!-- title -->
            <div class="caption-title caption" data-y="320" data-speed="700" data-start="1200" data-easing="easeOutBack">
              <h2>{{slider.titulo}}</b> </h2>
            </div>
            <!-- title --> 
                
            <!-- tags -->
            <div class="caption-tags caption" data-y="400" data-speed="700" data-start="1800" data-easing="easeOutBack">
              <ul class="tag clearfix">
                {% if slider.etiqueta1|length > 0 %}
                  <li>{{slider.etiqueta1}}</li>
                {% endif %}
                {% if slider.etiqueta2|length > 0 %}
                  <li>{{slider.etiqueta2}}</li>
                {% endif %}
                {% if slider.etiqueta3|length > 0 %}
                  <li>{{slider.etiqueta3}}</li>
                {% endif %}
                {% if slider.precio|length > 0 %}
                  <li class="tag-price"> <a href="#" class="clearfix"> <span class="price"><b>{{slider.precio}}</b> </span> <span class="icon-arrow-right2"></span> </a> </li>
                {% endif %}
              </ul>
            </div>
            <!-- .tags --> 
                
          </li>
          <!-- END-SLIDER -->
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
</section>
<!-- ================================================== END SLIDER ================================================== --> 

<!-- ================================================== LIGHT PROMO ================================================== -->
<section>
      <div class="light-promo">
    <div class="container">
          <div class="row">
        <div class="promo">
              <h1 data-appear-animation="slideInLeft"><b>Bienvenido al mejor taller de Hojalatería y pintura</b> </h1>
              <p data-appear-animation="slideInRight">Contamos con toda la herramienta y el personal necesario para garantizar que al salir su auto usted haya recibido un trabajo de calidad adecuado a sus necesidades.<br />
              Porque en Dalton Automotriz HP, su satisfacción es nuestro éxito.</p>
            </div>
      </div>
        </div>
  </div>
    </section>
<!-- ================================================== LIGHT PROMO ================================================== --> 

<!-- ================================================== LATEST CARS ================================================== -->

<section class="space-bottom">
  <div class="latest-cars clearfix">
    <div class="container">
      <div class="row">
        <div class="heading space-top-and-bottom small">
          <h2>Ultimas <b>ofertas</b></h2>
          <span></span> 
        </div>
        
        <!-- 1st -->
        <div class="row"> 
          
          {%for oferta in ofertas|slice:":3" %}
          <!-- car -->
          <div class="four columns">
            <div class="car-box vertical medium" data-appear-animation="{% cycle 'slideInLeft' 'flipInX' 'slideInRight' %}"> <!--slideInLeft | flipInX | slideInRight-->
                  
              <!-- image -->
              <div class="car-image">

              {% thumbnail oferta.imagen "358x206" crop="center" as im %}
                  <img src="{{im.url}}" title="car" alt="car" />
              {% endthumbnail %}
              </div>
              <!-- .image --> 
                  
              <!-- content -->
              <div class="car-content"> 
                
                <!-- title -->
                <div class="car-title">
                  <h3><a href="#">{{ oferta.titulo }}</a> </h3>
                </div>
                <!-- .title --> 
                
                <!-- descript -->
                <div class="car-descript">
                  <p>
                    <p>{{ oferta.descripcion }}</p>
                  </p>
                </div>
                <!-- descript -->

                <!-- tags -->
                <div class="car-tags">
                  <ul class="clearfix">
                    {% if oferta.etiqueta1|length > 0 %}
                      <li>{{ oferta.etiqueta1 }}</li>
                    {% endif %}
                    {% if oferta.etiqueta2|length > 0 %}
                      <li>{{ oferta.etiqueta2 }}</li>
                    {% endif %}
                    {% if oferta.etiqueta3|length > 0 %}
                      <li>{{ oferta.etiqueta3 }}</li>
                    {% endif %}
                  </ul>
                </div>
                <!-- .tags -->
                
                <!-- price -->
                <div class="car-price"> 
                  <a href="#" class="clearfix"> 
                    <span class="price">
                      {{ oferta.precio}}
                    </span> 
                    <span class="icon-arrow-right2"></span> 
                  </a> 
                </div>
                <!-- .price --> 
                
              </div>
              <!-- .content --> 

            </div>
          </div>
          <!-- .car --> 
          {% endfor %}
        </div>
        <!-- .1st --> 
        
        
        <!-- button -->
        <div class="row">
          <div class="button-wrap"> 
            <a href="/ofertas" class="big button light" data-appear-animation="flipInX">Echa un vistazo a todas nuestras ofertas</a> 
          </div>
        </div>
        <!-- .button --> 
        
      </div>
    </div>
  </div>
</section>

<!-- ================================================== END LATEST CARS ================================================== --> 

<!-- ================================================== DARK PROMO TESTIMONIALS ================================================== -->
<section>
      <div class="dark-promo">
    <div class="container">
          <div class="row"> 
        
        <!-- dark promo -->
        <div class="promo dark clearfix">
              <h3 class="ache3" data-appear-animation="slideInLeft">Más de <b>5000</b> clientes satisfechos en <b>17</b> años!</h3>
            </div>
        <!-- .dark promo --> 
        
      </div>
        </div>
  </div>
    </section>
<!-- ================================================== DARK PROMO TESTIMONIALS ================================================== --> 

<!-- ================================================== LATEST BLOG POSTS ================================================== -->
<section class="space-bottom clearfix">
      <div class="container">
    <div class="row">
          <div class="heading space-top-and-bottom small">
        <h2><b>Portafolio</b> </h2>
        <span></span> </div>
            <!-- blog posts -->
            <div class="row">

              {% for trabajo in trabajos%}
              <!-- vertical blog post -->
              {% if forloop.first %}
                <div class="four columns alpha" data-appear-animation="bounceIn">
              {% else %}
                <div class="four columns" data-appear-animation="bounceIn">
              {% endif %}
                <div class="latest-blog-post vertical clearfix">

                  <!-- blog media -->
                  <div class="blog-media">
                    {% thumbnail trabajo.imagenPortada "358x206" crop="center" as im %}
                      <img src="{{ im.url }}" title="" alt="" />
                    {% endthumbnail %}
                  </div>
                  <!-- blog media -->

                  <!-- blog content -->
                  <div class="blog-content">
                    <div class="blog-content-wrap">

                      <!-- title -->
                      <div class="blog-title">
                        <h5><b>{{ trabajo.titulo }}</b></h5>
                      </div>
                      <!-- title -->

                      <!-- content -->
                      <div class="blog-excerpt-content">
                        <p>{{ trabajo.descripcion }}</p>
                      </div>
                      <!-- .content -->

                    </div>
                  </div>
                  <!-- .blog content -->

                </div>
              </div>
              <!-- .vertical blog post-->
              {% endfor %}
            </div>
          
          <!-- button -->
          <div class="row">
        <div class="button-wrap"> <a href="/portafolio" class="big button light" data-appear-animation="flipInX">MIRA NUESTROS ULTIMOS TRABAJOS</a> </div>
      </div>
          <!-- .button --> 
          
        </div>
  </div>
    </section>

<!-- ================================================== END LATEST BLOG POSTS ================================================== --> 

<!-- ================================================== TOP FOOTER ================================================== -->
<section>
      <div class="dark-promo">
    <div class="container">
          <div class="row">
        <div class="promo dark">
                <h3 class="ache3" data-appear-animation="flipInX">Tels. 440 0410 / 485 99 69</h3>
                <h4 data-appear-animation="flipInX">Cerrada de Tepic No 15 Col. Progreso<br />
              <b>Lun - Vie:</b> 9am - 7pm, <b>Sab:</b> 9am - 2pm</h4>
                <div class="button-wrap"> <a href="/contacto" class="button dark medium" data-appear-animation="flipInX">CONTACTANOS</a> </div>
              </div>
      </div>
        </div>
  </div>
    </section>

<!-- ================================================== TOP FOOTER ================================================== --> 

<!-- ================================================== FOOTER WITH WIDGETS ================================================== -->
<section class="space-top-and-bottom small">
      <div class="footer">
    <div class="container">
          <div class="row"> 
        
        <!-- text widget -->
        <div class="three columns alpha">
              <div class="widget" data-appear-animation="slideInLeft">
            <h4><b>Acerca de </b>Dalton Automotriz</h4>
            <p class="justify">Dalton automotriz inicio operaciones en 1997, empezando como un pequeño taller que perseguía el objetivo
            de ser una empresa reconocida en su ámbito de hojalatería y pintura. <br />
            <br />
            Comenzando únicamente con dos empleados, un hojalatero y un pintor. Gracias a nuestros trabajos de buena calidad, la empresa ha crecido, creando renombre y prestigio.</p>
            <br/>
            <a href="/nosotros"> Leer más &raquo;</a>
          </div>
            </div>
        <!-- .text widget --> 
        
        <!-- pick car widget -->
        <div class="four columns">
          <div class="widget" data-appear-animation="bounceIn">
            <h4><b>Conoce las</b> herramientas e instalaciones</h4>
            <img src="{% static "images/nos1.jpg" %}" alt="Imagen del taller">
            <br/>
            <a href="/herramientas"> Ver más &raquo;</a>
          </div>
        </div>
        <!-- .pick car widget --> 

        <!-- list widget -->
        <div class="five columns" data-appear-animation="bounceIn">
            <div class="widget">
                <h4><b>Ultimas </b>ofertas</h4>
                <ul class="widget-list">
                    {% for oferta in ofertas %}
                      <li><a href="/ofertas">{{ oferta.titulo }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- .list widget -->
        
        
      </div>
        </div>
  </div>
    </section>

<!-- ================================================== FOOTER WITH WIDGETS ================================================== --> 

<!-- ================================================== BOTTOM FOOTER ================================================== -->
<footer>
      <div class="bottom-footer clearfix;">
    <div class="container">
          <div class="row">
        <div class="five columns">
              <div class="copyrights">
            <p>&copy; 2014 - Dalton Automotriz - All rights reserved.</p>
          </div>
            </div>
        <div class="sevem columns">
              <div class="footer-navigation">
            <ul class="clearfix">
                  <li><a href="/" class="active">Home</a> </li>
                  <li><a href="/herramientas">Taller</a> </li>
                  <li><a href="/ofertas">Ofertas</a> </li>
                  <li><a href="/nosotros">Nosotros</a> </li>
                  <li><a href="/portafolio">Portafolio</a> </li>
                  <li><a href="/contacto">Contacto</a> </li>
                  <li><a href="#">Terminos y condiciones</a> </li>
                  <li><a href="#">Politica de privacidad</a> </li>
                </ul>
          </div>
            </div>
      </div>
        </div>
  </div>
    </footer>
<!-- ================================================== BOTTOM FOOTER ================================================== --> 

<!-- ================================================== TO TOP ================================================== -->
<div class="to-top"> <a href="#"> <span class="icon-arrow-up"></span> </a> </div>
<!-- ================================================== TO TOP ================================================== --> 

<!-- Javascript
================================================== --> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static "js/jquery.dscountdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.themepunch.plugins.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.themepunch.revolution.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/easyResponsiveTabs.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.appear.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.knob.js" %}"></script>
<script type="text/javascript" src="{% static "js/retina-1.1.0.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.mapmarker.js" %}"></script>
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>

<!-- End Document
================================================== -->
</body>
</html>
