{% load staticfiles %}
{% load columns %}
{% load thumbnail %}

<!DOCTYPE html>
 <html lang="es">

<head>

    <!-- Meta Tags
================================================== -->
    <meta charset="utf-8">

    <!-- Site Title
================================================== -->
    <title>Dalton Automotriz HP</title>

    <!-- Mobile Specific Metas
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
================================================== -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Favicon
================================================== -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <!-- Google Analytics
================================================== -->
    <script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
    </script>
</head>

<body>
<!-- ================================================== HEADER ================================================== -->
<header> 
      
      <!-- top bar -->
      <div class="top-bar">
    <div class="container">
          <div class="row"> 
        
        <!-- notification -->
        <div class="notification">
              <p>Contactanos, estamos a tus ordenes, o siguenos en nuestras redes sociales.</p>
            </div>
        <!-- .notification --> 
        
        <!-- call us -->
        <div class="call-us">
              <p> <span class="icon-phone"></span>440 0410 / 485 99 69</p>
            </div>
        <!-- .call us --> 
        
        <!-- social -->
        <div class="social">
              <ul class="clearfix">
            <li> <a href="https://www.facebook.com/dalton.motors?ref=ts&fref=ts" class="tip-below success" data-tip="facebook" target="_blank"> <span class="icon-facebook"></span> </a> </li>
            <li> <a href="https://twitter.com/daltonlights" class="tip-below success" data-tip="twitter" target="_blank"> <span class="icon-twitter"></span> </a> </li>
          </ul>
            </div>
        <!-- social -->
        
      </div>
        </div>
  </div>
      <!-- .top bar --> 
      
      <!-- navigation and logo -->
      <div class="navigation clearfix">
    <div class="container">
          <div class="row"> 
        
        <!-- logo -->
        <div class="logo"> <a href="/"> <img src="{% static "images/logo.png" %}" title="Dalton Automotriz HP" alt="Dalton Automotriz HP" /> </a> </div>
        <!-- .logo --> 
        
        <!-- navigation -->
        <nav> 
              
            <!-- navigation wrap -->
            <div class="main-nav">  
            
                <!-- main navigation -->
                <ul class="main-navigation">
                  
                  <!-- home -->
                  <li><a href="/">Home</a></li>
                  <!-- .home --> 
                  
                  <!-- pages -->
                  <li><a href="#">Taller</a>
                    <ul class="sub-menu">
                          <li><a href="/herramientas">Herramientas</a> </li>
                          <li><a href="/areas">Areas</a> </li>
                    </ul>
                   </li>
                  <!-- .pages -->
                  
                  <!-- blog -->
                  <li><a href="/ofertas" class="active">Ofertas</a></li>
                  <!-- .blog --> 
                  
                  <!-- cars -->
                  <li><a href="/nosotros">Nosotros</a></li>
                  <!-- .cars --> 
                  
                  <li><a href="/portafolio">Portafolio</a></li>
              
                  <!-- elements -->
                  <li><a href="/contacto">Contacto</a></li>
                  <!-- .elements --> 
                  
                </ul>
                <!-- .main navigation --> 
            
            </div>
            <!-- .navigation wrap --> 
              
        </nav>
        <!-- .navigation --> 
        
      </div>
        </div>
  </div>
      <!-- .navigation and logo --> 
      
    </header>
<!-- ================================================== END HEADER ================================================== --> 

    <!-- ================================================== BREADCRUMBS ================================================== -->
    <section>

        <div class="breadcrumbs">

            <div class="container">
                <div class="row">

                    <div class="breadcrumbs-content clearfix">

                        <div class="page-title">
                            <h4>Ofertas</h4>
                            <a href="#">
                                <span class="icon-home"></span>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

        </div>


    </section>
    <!-- ================================================== END BREADCRUMBS ============================================== -->

    <!-- ================================================== PAGINATION ================================================== -->

    <section>
        <div class="container">
            <div class="row">

                <div class="pagination clearfix">
                    <h3>Todas nuestras ofertas <b>activas</b></h3>
                </div>

            </div>
            
            {%  for row in ofertas|columns:3  %}

            <!-- .1 -->
            <div class="row">

                {% for oferta in row %}

                  <!-- car vertical big -->
                  {% if forloop.first %}
                    <div class="four columns alpha">
                  {% else %}
                    <div class="four columns">
                  {% endif %}

                <div class="four columns alpha">
                    <div class="car-box vertical big">

                        <!-- image -->
                        <div class="car-image">
                            <a href="#">

                                {% thumbnail oferta.imagen "599x345" crop="center" as im %}
                                    <img src="{{im.url}}" title="car" alt="car" />
                                {% endthumbnail %}
                                <!-- <span class="background">
                                    <span class="icon-plus"></span>
                                </span> -->
                            </a>
                        </div>
                        <!-- .image -->

                        <!-- content -->
                        <div class="car-content">

                            <!-- title -->
                            <div class="car-title">
                                <h3><a href="#">{{ oferta.titulo}}</a>
                                </h3>
                            </div>
                            <!-- .title -->
                            <!-- descript -->
                            <div class="car-descript">
                                <p>
                                    <p>{{ oferta.descripcion }}</p>
                                </p>
                            </div>
                            <!-- descript -->
                            <!-- tags -->
                            <div class="car-tags">
                                <ul class="clearfix">
                                    {% if oferta.etiqueta1|length > 0 %}
                                      <li>{{ oferta.etiqueta1 }}</li>
                                    {% endif %}
                                    {% if oferta.etiqueta2|length > 0 %}
                                      <li>{{ oferta.etiqueta2 }}</li>
                                    {% endif %}
                                    {% if oferta.etiqueta3|length > 0 %}
                                      <li>{{ oferta.etiqueta3 }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- .tags -->
                            <!-- price -->
                            <div class="car-price">
                                <a href="#" class="clearfix">
                                    <span class="price">
                                        {{ oferta.precio}}
                                    </span>
                                    <span class="icon-arrow-right2"></span>
                                </a>
                            </div>
                            <!-- .price -->
                        </div>
                        <!-- .content -->
                    </div>
                </div>
                <!-- .car vertical big -->
                {% endfor %}

            </div>
            <!-- .1 -->
            {% endfor %}
        </div>
    </section>

    <!-- ================================================== END PAGINATION ============================================== -->


<!-- ================================================== TOP FOOTER ================================================== -->
<section>
      <div class="dark-promo">
    <div class="container">
          <div class="row">
        <div class="promo dark">

 

              <h1 data-appear-animation="flipInX">Tels. 440 0410 / 485 99 69</h1>
              <h4 data-appear-animation="flipInX">Cerrada de Tepic No 15 Col. Progreso<br />
            <b>Lun - Vie:</b> 9am - 7pm, <b>Sab:</b> 9am - 2pm</h4>
              <div class="button-wrap"> <a href="contacto.html" class="button dark medium" data-appear-animation="flipInX">CONTACTANOS</a> </div>
            </div>
      </div>
        </div>
  </div>
    </section>

<!-- ================================================== TOP FOOTER ================================================== --> 

    <!-- ================================================== FOOTER WITH WIDGETS ================================================== -->
    <section class="space-top-and-bottom small">
        <div class="footer">
            <div class="container">
                <div class="row">


        <!-- text widget -->
        <div class="three columns alpha">
              <div class="widget" data-appear-animation="slideInLeft">
            <h4><b>Acerca de </b>Dalton Automotriz</h4>
            <p class="justify">Dalton automotriz inicio operaciones en 1997, empezando como un pequeño taller que perseguía el objetivo
            de ser una empresa reconocida en su ámbito de hojalatería y pintura. <br />
            <br />
            Comenzando únicamente con dos empleados, un hojalatero y un pintor. Gracias a nuestros trabajos de buena calidad, la empresa ha crecido, creando renombre y prestigio.</p>
            <br/>
            <a href="nosotros.html"> Leer más &raquo;</a>
          </div>
            </div>
        <!-- .text widget --> 
        
        <!-- pick car widget -->
        <div class="four columns">
          <div class="widget" data-appear-animation="bounceIn">
            <h4><b>Conoce las</b> herramientas e instalaciones</h4>
            <img src="images/nos1.jpg" alt="Imagen del taller">
            <br/>
            <a href="herramientas.html"> Ver más &raquo;</a>
          </div>
        </div>
        <!-- .pick car widget --> 

        <!-- list widget -->
        <div class="five columns" data-appear-animation="bounceIn">
            <div class="widget">
                <h4><b>Ultimas </b>ofertas</h4>
                <ul class="widget-list">
                    {% for oferta in ofertas|slice:":5" %}
                      <li><a href="/ofertas">{{ oferta.titulo }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- .list widget -->
                </div>
            </div>
        </div>
    </section>

    <!-- ================================================== FOOTER WITH WIDGETS ================================================== -->

    <!-- ================================================== BOTTOM FOOTER ================================================== -->
    <footer>


        <div class="bottom-footer clearfix;">
            <div class="container">
                <div class="row">
                    <div class="five columns">
                        <div class="copyrights">
                            <p>&copy; 2014 - Dalton Automotriz - All rights reserved.</p>
                        </div>
                    </div>
                        <div class="seven columns">
                <div class="footer-navigation">
                    <ul class="clearfix">
                          <li><a href="index.html">Home</a> </li>
                          <li><a href="herramientas.html">Taller</a> </li>
                          <li><a class="active" href="ofertas.html">Ofertas</a> </li>
                          <li><a href="nosotros.html">Nosotros</a> </li>
                          <li><a href="portafolio.html">Portafolio</a> </li>
                          <li><a href="contacto.html">Contacto</a> </li>
                          <li><a href="#">Terminos y condiciones</a> </li>
                          <li><a href="#">Politica de privacidad</a> </li>
                        </ul>
                  </div>
              </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ================================================== BOTTOM FOOTER ================================================== -->

    <!-- ================================================== TO TOP ================================================== -->
    <div class="to-top">
        <a href="#">
            <span class="icon-arrow-up"></span>
        </a>
    </div>
    <!-- ================================================== TO TOP ================================================== -->

    <!-- Javascript
================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery.dscountdown.min.js"></script>
    <script type="text/javascript" src="js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/easyResponsiveTabs.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.knob.js"></script>
    <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.mapmarker.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>


    <!-- End Document
================================================== -->
</body>

</html>
